<div class="container">
  <div class="row justify-content-center mt-3">
    <button type="button" name="email-btn" class="btn btn-default middle-blue-background center-block email">
      <a href="mailto:rodrigo.mangue@gmail.com" class="text-center text-uppercase"><i class="fa fa-envelope"></i> Email me</a>
    </button>
  </div>
  <div class="row justify-content-center mt-3">
    <p class="text-center light-white-font">
      <a class="middle-blue-font" href="https://www.twitter.com/somerodrigo" title="I'm still getting the hang of it" target="twitter"><strong><i class="fa fa-twitter"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="middle-blue-font" href="https://br.linkedin.com/in/somerodrigo" title="My previous experiences" target="linkedin"><strong><i class="fa fa-linkedin"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="middle-blue-font" href="https://github.com/rodrigo-medeiros" title="My code: see for yourself" target="github"><strong><i class="fa fa-github"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="middle-blue-font" href="http://stackoverflow.com/users/2241993/rodrigo-medeiros" title="Me trying to help" target="so"><strong><i class="fa fa-stack-overflow"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="middle-blue-font" href="https://codepen.io/rodrigo-medeiros/" title="My pens" target="codepen"><strong><i class="fa fa-codepen"></i></strong></a>
    </p>
  </div>
</div>
