<div class="top-side">
    <h4 class="title">Nossa Histora</h4>
    <h2>Um pouco sobre Nós</h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-md-offset-1 col-sm-12">
      <p class="dark-gray-font text-justify">
        {{about[0].name}}
      </p>
      <p class="dark-gray-font text-justify">
        {{about[1].name}}
      </p>
    </div>
    <div class="col-md-5 col-sm-12">
      <p class="dark-gray-font text-justify">
        {{about[2].name}}
      </p>
      <p class="dark-gray-font text-justify">
        {{about[3].name}}  
      </p>
    </div>
  </div>
</div>