<h2 class="text-uppercase dark-gray-font">Projetos</h2>
<div class="container dark-gray-font">
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default fixed-width center-block">
        <div class="panel-body">
          <a href="https://www.npmjs.com/package/delatinise-cli" target="delatinise-cli">
            <img class="img-responsive center-block" src="https://s3-sa-east-1.amazonaws.com/portfolio-stuff/images/npm-logo-300x300.png" />
          </a>
        </div>
        <div class="panel-footer">
          <h3>delatinise-cli</h3>
          <p>A CLI tool to remove accents from text files.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default fixed-width center-block">
        <div class="panel-body">
          <a href="https://www.npmjs.com/package/coderbits" target="coderbits">
            <img class="img-responsive center-block" src="https://s3-sa-east-1.amazonaws.com/portfolio-stuff/images/coderbits-logo-black-300x300.png" />
          </a>              </div>
        <div class="panel-footer">
          <h3>coderbits</h3>
          <p>A wrapper for the coderbits API.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default fixed-width center-block">
        <div class="panel-body">
          <a href="https://www.npmjs.com/package/file-appender" target="file-appender">
            <img class="img-responsive center-block" src="https://s3-sa-east-1.amazonaws.com/portfolio-stuff/images/npm-logo-300x300.png" />
          </a>
        </div>
        <div class="panel-footer">
          <h3>file-appender</h3>
          <p>Pipe a list of files to a transform stream.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default fixed-width center-block">
        <div class="panel-body">
          <a href="https://www.objective.com.br/servico/crm-billing/" target="objectiveng">
            <img class="img-responsive center-block" src="https://s3-sa-east-1.amazonaws.com/portfolio-stuff/images/objective-logo-300x300.png" />
          </a>
        </div>
        <div class="panel-footer">
          <h3>objective ng</h3>
          <p>A CRM and Billing tool.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default fixed-width center-block">
        <div class="panel-body">
          <a href="https://codepen.io/rodrigo-medeiros/full/jWgxNX/" target="randomquotegen">
            <img class="img-responsive center-block" src="https://s3-sa-east-1.amazonaws.com/portfolio-stuff/images/random-quote-gen-300x300.png" />
          </a>
        </div>
        <div class="panel-footer">
          <h3>random quote generator</h3>
          <p>Very straightforward.</p>
        </div>
      </div>
    </div>

  </div>
</div>